/*Index tab */
.html{
    background-color: #F2F2F2;
    width:100%;

}

.logo_ds4a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:3rem;
    width:14rem;
}

.logo_col{
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:3rem;
    width:8rem;
}

.logo_col:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.sidebar_style{
    top: 0;
    bottom: 0;
    padding: 2rem 1rem;
    background-color: #F9F9F9;
    font-size: 20px;
    box-shadow: 1px 1px 1px 1px gainsboro;

}

.nav-link{
    padding: 0.9rem 1rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    height:3rem
}

.content_style{
    margin-left: 0rem;
    margin-top: 2px;
    padding: 2rem;
    background-color:#F2F2F2; 
    min-height: 100vh;
}
/*Home tab */

.titulo{
    color: rgb(16, 151, 230);
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', serif;;
    text-shadow: rgb(248, 252, 16) -3px 0px, red 0px 2px;

}

.home_img{
    height: auto;
    width: 30rem;
    margin-top: 4rem;
    border-radius:  70px;
    border: 1px solid rgb(16, 231, 213);
    padding: 1px;
    opacity: 0.75;
}

.home_img:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.card{
    margin-top: 4rem;
}

.card-title {
    margin-bottom: 2rem;
}

.card-text {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}


/*Analytics tab */

.button{
    width:10rem;
    text-align: left;
}

.graph{
    box-shadow: 1px 1px  3px 3px gainsboro ;
    margin-top: 1rem;
    
}

.graph-map{
    box-shadow: 1px 1px  3px 3px gainsboro ;
    margin-top: 1rem;
    margin-right: 10%;
    margin-left: 10%;
}



.slider{
    margin-bottom: 2rem;
    margin-right: 10%;
    margin-left: 10%;
}


.label{
    justify-content: center;
    text-align: center;
    font-weight: bold ;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    font-size:20px;
}


/*Geoportal */

.button-month{
    margin:3px;
    border-radius: 4px;
    display: inline-flex;
}

.button-month:hover{
    background-color: lightskyblue;
    color: white;
}

.button-month:active{
    background-color: red;
    color: white;
}

.active {
    background-color: red;
    color: white;
  }


.label2{
    display:flex;
    justify-content: center;
    font-weight: bold ;
    font-family: Arial, Helvetica, sans-serif;  
    font-size:15px;
    color:black;
    margin-top: 2rem ;
    width: 100%;
}


.button3{
    margin-left: 1rem;
    background-color:lightskyblue;
    font-size:25px;
    border-radius: 4px;
}


.button3:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.gap{
    display:flex;
    gap: 1em;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
padding-left: 0;
padding-right:0;
height:100vh;
}


@media (max-width: 480px) {
    .wrap-element {
      display: flex;
      flex-wrap:wrap;
      gap:1em
    }
    .home_img{
        width: 10rem;
    }    
  }

  @media (max-width: 600px) {
    .home_img{
        width: 15rem;
    }    
  }